svg path {
  stroke: #54adff;
}

svg {
  width: 24px;
  height: 24px;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

&:hover {
  stroke: #fff;
}

.dropdown {
  padding: 8px;
  background: #fff;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 20px;
}

.filterTitle {
  display: inline-block;
  margin: 0 0 8px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #54adff;
}

.filterWrapper {
  .title:not(:last-child) {
    margin: 0 0 8px 0;
  }

  .title {
    max-width: 136px;
    min-height: 32px;

    border: none;
    border-radius: 20px !important;
    background: #cce4fb;
  }
}

.title span {
  font-weight: 400px;
  font-size: 14px;
  line-height: 130%;
  color: #54adff !important;
}

.checkbox {
  flex-direction: column;
  gap: 8px;
}
/* .Down {
  &active {
    rotate: (180deg);
  }
} */

.checkbox label {
  margin-inline-start: initial;
  background: #cce4fb;
  margin-left: 0;
}
