.dropdown {
  position: absolute;
  z-index: 2;
  padding: 8px;
  background: #fff;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 20px;
}

.filterTitle {
  display: inline-block;
  margin: 0 0 8px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #54adff;
}

.filterWrapper .title:not(:last-child) {
  margin: 0 0 8px 0;
}

.filterWrapper .title {
  max-width: 136px;
  min-height: 32px;
  border: none;
  border-radius: 20px !important;
  background: #cce4fb;
}

.title span {
  position: relative;
  font-weight: 400px;
  font-size: 14px;
  line-height: 130%;
  color: #54adff !important;
}

.checkbox {
  /* flex-direction: column; */
  gap: 8px;
}

.checkbox label {
  margin-inline-start: initial;
  background: #cce4fb;
  margin-left: 0;
}