.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 100px;
  background-color: rgba(81, 81, 81, 0.6);

  @media screen and (min-width: 768px) {
    padding-top: 200px;
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 20px;

  align-items: center;
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  padding: 44px 20px 16px;

  @media screen and (min-width: 768px) {
    width: 681px;
    border-radius: 40px;
    padding: 32px 32px 24px;
  }
}

.content_wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    width: 100%;
    gap: 24px;
    margin-bottom: 28px;
  }
}

.closeBtn {
  position: absolute;
  top: 7px;
  right: 7px;
  align-self: end;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    top: 18px;
    right: 21px;
  }
}

.closeBtn:hover {
  background-color: #54adff;
}

.crossSmallIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  stroke: #54adff;
  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  border-radius: 50%;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.crossSmallIcon:hover {
  stroke: #fdf7f2;
}

.image {
  position: relative;
  border-radius: 0px 0px 40px 40px;
  width: 240px;
  height: 240px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    min-width: 262px;
    height: 298px;
    margin-bottom: 0;
  }
}

.sell_btn {
  position: absolute;
  top: 60px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 126px;
  max-height: 32px;
  padding: 11px 0;
  font-size: 14px;
  line-height: inherit;
  border-radius: 0px 16px 16px 0px;
  color: #000;
  background-color: #cce4fb;

  @media screen and (min-width: 768px) {
    top: 48px;
    left: 32px;
  }
}

.info_wrap {
  width: 100%;
  margin-bottom: 12px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.38;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
  color: #000000;

  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 1.4;
  }
}

.list_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-top: 20px;
}

.list_item {
  display: flex;
  color: #000000;
}

.info_title {
  width: 61px;
  margin-right: 20px;
  font-size: 14px;
  line-height: 1.36;
  font-weight: 600;

  @media screen and (min-width: 768px) {
    width: 75px;
    font-size: 16px;
    line-height: 1.38;
  }
}

.info_text {
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.38;
  }
}

.comments {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 70px;
  }
}

.comments_title {
  font-weight: 600;
}

.mainContent_wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.button_wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media screen and (min-width: 768px) {
    flex-direction: row-reverse;
    right: 28px;
    margin-left: auto;
    gap: 17px;
  }
}

.addtobutton,
.contactbutton {
  min-width: 252px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.04em;
  border-radius: 40px;

  @media screen and (min-width: 768px) {
    min-width: 129px;
    height: 40px;
  }
}

.addtobutton {
  gap: 8px;
  color: #fef9f9;
  background: #54adff;
  border: transparent;
  cursor: pointer;
}

.contactbutton {
  background: #ffffff;
  color: #54adff;
  border-color: #54adff;
  cursor: pointer;
}

.contactbutton:hover,
.addtobutton:hover {
  color: #fef9f9;
  background: linear-gradient(290.46deg, #419ef1 0%, #9bd0ff 107.89%);
  border: none;
}

.addIcon {
  fill: #54adff;
  stroke: #fff;
}

.user_contact {
  color: #000000;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  text-decoration-line: underline;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.38;
  }
}

.user_contact:hover {
  text-decoration: none;
  color: #FFC107;
}