.navigationContainer {
  margin-top: 43px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
}

.linksContainer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 6px;
}

.link a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 35px;
  border-radius: 40px;
  background: #cce4fb;
  color: #54adff;
  text-decoration: none;
  padding: 0 16px;
  margin: 0 8px;
}

.link .active,
.filterLink .active {
  background-color: #54adff;
  color: #fff;
}

.addButtonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: auto;
  gap: 12px;
}

.addButtonLink a {
  background: #54adff;
  color: #fff;
}

.filterLink a {
  background: #fff;
  color: #54adff;
}

.filterLink a,
.addButtonLink a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 40px;
  min-height: 35px;
  min-width: 129px;
  border: 2px solid #54adff;
  text-decoration: none;
}
.addButtonLink a {
  background: #54adff;
  color: #fff;
}

.filterLink a {
  background: #fff;
  color: #54adff;
}

.text {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #54adff;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 22px;
  }
}

.addButtonLink svg,
.filterLink svg {
  order: 2;
  width: 24px;
  height: 24px;
  stroke: currentColor;
}

/* svg:hover {
  stroke: currentColor;
}
svg:active {
  stroke: currentColor;
} */
