.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    border: none;
    outline: none;
    font-family: inherit;
    cursor: pointer;
    /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}