.datePicker {
    position: relative;
}

.dateInput {
    border-radius: 40px;
    box-shadow: none;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    padding: 9px 16px;
    border: 1px solid #54adff;
    margin-top: 8px;
    width: 100%;

    @media screen and (min-width:1280px) {

        font-size: 16px;
        padding: 15px;
    }
}

.dateInput::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
}

.dateInput::-webkit-inner-spin-button,
.dateInput::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}

.datePickerIcon {
    position: absolute;
    top: 35px;
    right: 0;
    /* width: 100%; */
    /* height: 100%; */
    opacity: 0;
    cursor: pointer;
    /* font-size: 25px; */
}

.datePickerIcon::-webkit-calendar-picker-indicator {
    color: #54adff;
    font-size: 25px;
}

.dateInput:focus {
    border-color: #54adff;
}

.LabelStep {
    color: #111111;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;

    @media screen and (min-width:1280px) {

        font-size: 20px;
        line-height: 26px;
    }

}

.calendarIcon {
    fill: #54adff;
    position: absolute;
    top: 34px;
    right: 10px;
    pointer-events: none;


    @media screen and (min-width:1280px) {

        top: 46px;
        right: 15px;
    }
}