/* .section {
  @media screen and (min-width: 768px) {
    padding-top: 60px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 62px;
  }
} */
.login {
  width: 100px;
  height: 49px;
  left: 590px;
  top: 208px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 49px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #111111;
}

.exitRegistr {
  width: 193px;
  height: 16px;
  left: 544px;
  top: 553px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  color: #888888;
}
