.card_list {
  margin-top: 42px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.card_item {
  width: 288px;
  height: 456px;
  background: #ffffff;

  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 0px 0px 40px 40px;
}

.card_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 288px;
  margin-bottom: 20px;
}

.title {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.38;

  color: #111111;

  margin-bottom: 20px;
}

.btn {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #54adff;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 28px;
  gap: 10px;
  width: 248px;
  height: 38px;
  border: 2px solid #54adff;
  border-radius: 40px;

  cursor: pointer;
}
