.card_item {
  background: #ffffff;
  width: 280px;
  height: 456px;

  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 0px 0px 40px 40px;
}

@media screen and (min-width: 768px) {
  .card_item {
    width: 336px;
    height: 456px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .card_item {
    width: 288px;
    height: 456px;
    margin-bottom: 42px;
  }
}

.btn_list {
  position: absolute;
  bottom: 162px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  display: flex;
}

.img_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  padding: 2px 4px;
  gap: 4px;

  width: 80px;
  height: 28px;

  background: #cce4fb;
  border-radius: 16px;
  border: transparent;

  cursor: pointer;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;

  align-items: center;
  letter-spacing: 0.04em;

  color: #111111;
}

.favorite_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1px;
  right: 1px;
  height: 40px;
  width: 40px;
  margin: 12px 12px 16px 0;

  background: #cce4fb;
  border: transparent;
  border-radius: 50%;

  cursor: pointer;
}

.favoriteActive a {
  background-color: red;
}

.card_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 288px;
  object-fit: cover;
}

.title {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.38;
  height: 66px;
  overflow: auto;

  color: #111111;

  margin: 20px;
}

.btn {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  background-color: #ffffff;
  color: #54adff;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 28px;
  gap: 10px;
  width: 248px;
  height: 38px;
  border: 2px solid #54adff;
  border-radius: 40px;

  cursor: pointer;
}
