.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h2 { 
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.35;
    margin-bottom: 18px;
    

    color: #000000;
}

button {
    width: 150px;
}