.form {
  text-align: center;
}

.input {
  position: relative;

  width: 280px;
  height: 44px;
  padding-left: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #888888;
  background: #ffffff;

  border-radius: 20px;
  border: transparent;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);

  @media screen and (min-width: 480px) {
    width: 380px;
  }

  @media screen and (min-width: 768px) {
    width: 608px;
    font-size: 20px;
    line-height: 24px;
  }
}
