.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #FEF9F9;
}
