.petItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 16px 20px 40px 20px;
    background-color: #ffffff;
    box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
    border-radius: 20px;
    color: #000000;

    @media screen and (min-width: 768px) {
        border-radius: 40px;
        flex-direction: row;
        gap: 20px;
    }
}

.image {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover; 
    margin-bottom: 16px;
 
    @media screen and (min-width: 768px) {
        width: 128px;
        height: 128px;
        margin-bottom: 0;
        }
    @media screen and (min-width: 1280px) {
        width: 161px;
        height: 161px;
    }
}

.infoWrap {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    letter-spacing: 0.04em;
    color: #000000;
}

.trashWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.infoText:not(:last-child){
    margin-bottom: 12px;
}

.delete_btn{
    display: flex;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: 5px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.delete_btn:hover {
    background-color: #54ADFF;
}

.trashIcon { 
    stroke: #54ADFF;
    stroke-width: 1.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    border-radius: 50%;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.trashIcon:hover {
    border-radius: 50%;
    stroke: #FDF7F2;
}

.textWrap {
    text-align: center;
}

.buttonWrap {
    display: flex;
    gap: 17px;
}

.modalBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 107px;
    padding: 8px 0;
    gap: 8px;
    border-radius: 40px;
    border-radius: 40px;
    border: none;
    outline: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: 0.04em;
    cursor: pointer;
    /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */

    @media screen and (min-width: 768px) {
        width: 129px;
        padding: 9px 35px;
    }
}

.modalBtn:hover {
    background: linear-gradient(290.46deg, #419EF1 0%, #9BD0FF 107.89%);
}

.cancelBtn {
    color: #54ADFF;
    background-color: #FFFFFF;
    border: 2px solid #54ADFF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cancelBtn:hover {
    color: #FEF9F9
}

.approveBtn {
    color: #FEF9F9;
    background-color: #54ADFF;

}

.trashIconModal {
    stroke: #FEF9F9;
    stroke-width: 1.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.titleModal {
    margin-bottom: 24px;
}

.textModal {
    margin-bottom: 40px;
}