.petData {
width: 100%;
    @media screen and (min-width: 1280px) {
        margin-left: 443px;
}
}

.buttonWrap {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        margin-bottom: 20px;
    }
}

.title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.35;
    color: #111111;;
}

.button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 9px 16px;
    color: #FEF9F9;
    background-color: #54ADFF;
    border-radius: 40px;
    border: none;
    outline: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: 0.04em;
    cursor: pointer;
    /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.button:hover{
    background: linear-gradient(290.46deg, #419EF1 0%, #9BD0FF 107.89%);
}

.text {
    font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.35;
        color: #111111;
        ;
    text-align: center;
    margin-top: 80px;
}