.preview {
    margin-bottom: 14px;
    width: 182px;
    height: 182px;
    border-radius: 40px;
    overflow: hidden;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.04em;
}

.preview__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}