
.inputWrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.wrap {
     width: 190px;
    @media screen and (min-width: 480px) {
            width: 300px;
    }
    @media screen and (min-width: 768px) {
        width: 255px;
    }
}

.input {
    width: 100%;
    height: 28px;
    outline: 1px solid #54ADFF;
    border: none;
    border-radius: 20px;
    padding: 6px 32px 6px 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: inherit;
}

.label {  
    padding-top: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.36;
    letter-spacing: 0.04em;  
    margin-right: 8px; 
}

.edit {
    position: absolute;
    right: 7px;
    top: 0; 
    cursor: pointer;
}

.error { 
    font-size: 10px;
    line-height: 1.33;
    color: #F43F5E;;
}

.errorWrap {
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitBtn {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 2px;
    right: 7px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

.confirmIcon {
    position: absolute;
    right: 7px;
    top: 5px;
    stroke: #00C3AD;
    width: 16px;
    height: 11px;
  }
 