.inputWrap {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.wrap {
    width: 190px;

    @media screen and (min-width: 480px) {
        width: 300px;
    }

    @media screen and (min-width: 768px) {
        width: 255px;
    }
}
.input {
    width: 100%;
    height: 28px;
    outline: 1px solid #54ADFF;
    border: none;
    border-radius: 20px;
    padding: 6px 32px 6px 12px;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: inherit;
}

.label {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.04em;
}

.edit {
    /* position: absolute; */
    /* right: 12px;
    top: 3px; */
}

.submitBtn {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 2px;
    right: 7px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

.confirmIcon {
    position: absolute;
    right: 7px;
    top: 5px;
    stroke: #00C3AD;
    width: 16px;
    height: 11px;
}