
.inputWrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap {
     width: 190px;
    @media screen and (min-width: 480px) {
            width: 300px;
    }
    @media screen and (min-width: 768px) {
        width: 255px;
    }
}

.input {
    width: 100%;
    height: 28px;
    outline: 1px solid #54ADFF;
    border: none;
    border-radius: 20px;
    padding: 6px 32px 6px 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: inherit;
}

.label {  
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.04em;   
}

.edit {
    position: absolute;
    right: 12px;
}

.error {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.33;
    color: #F43F5E;;
}

.errorWrap {
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

