.background {
  background-image: url('../../../src/Shared/images/background/mobile-bg.png');
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .background {
    background-image: url('../../../src/Shared/images/background/mobile-bg@2x.png');
  }
}

.title {

  font-weight: 800;

  color: #111111;
  width: 280px;
  margin-top: 60px;

  font-weight: 700;
  font-size: 32px;
  line-height: 1.38;
}




@media screen and (min-width: 480px) {
  .background {
    background-image: url('../../../src/Shared/images/background/tablet-bg.png');
  }

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    .background {
      background-image: url('../../../src/Shared/images/background/tablet-bg@2x.png');
    }
  }
}

@media screen and (min-width: 768px) {
  .background {
    background-image: url('../../../src/Shared/images/background/desktop-bg.png');
  }

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    .background {
      background-image: url('../../../src/Shared/images/background/desktop-bg@2x.png');
    }
  }



  .title {
    font-weight: 800;
    font-size: 68px;
    line-height: 130%;
    color: #111111;
    width: 588px;
    margin-top: 80px;
  }
}

@media screen and (max-width:767px) {
  .wrapp::after {
    content: url('../../Shared/images/PetsHomePage/Pets-mobile.png');
    background-size: cover;
    margin-top: 60px;
    position: absolute;
    transform: scale(1.2);
    z-index: -1;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

}

@media screen and (min-width: 768px) and (max-width:1279px) {
  .wrapp::after {
    content: url('../../Shared/images/PetsHomePage/Pets-desktop.png');
    transform: scale(1);
    margin-top: auto;
    position: absolute;
    z-index: -1;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

}

@media screen and (min-width: 1280px) {
  .wrapp::after {
    content: url('../../Shared/images/PetsHomePage/Pets-desktop.png');
    display: block;
    position: absolute;
    width: 30%;
    bottom: -235px;
    z-index: -1;
    top: 0px;
    right: 563px;
    background-size: cover;
    transform: scale(1);
    z-index: -1;

  }

  .title {
    line-height: 130%;
    width: 500px;
    margin-top: 188px;
  }
}