ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.AddPetContainer {
  width: 458px;
  height: 542px;
  position: absolute;
  bottom: 118px;
  left: 35%;
  background-color: #ffffff;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 40px;
  /* padding: 20px 32px; */
  padding-right: 32px;
}
.AddPet {
  margin-left: 40px;
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;
}
.StepList {
  display: flex;
  gap: 22px;
}
.StepItemActive {
  color: #54adff;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
.StepActive {
  margin-top: 12px;
  width: 120px;
  height: 8px;
  background-color: #54adff;
  border-radius: 8px;
}
.StepItem {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #888888;
}
.StepNonActive {
  margin-top: 12px;
  width: 120px;
  height: 8px;
  background-color: #cce4fb;
  border-radius: 8px;
}
.ChooseOptionList {
  margin-top: 40px;
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.PetButton {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  background-color: #cce4fb;
  border-radius: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}
.PetButton:focus {
  background-color: #54adff;
  color: #fef9f9;
}
.LinkAddPEt {
  margin-top: 146px;
  display: flex;
  justify-content: space-around;
  gap: 24px;
}
.LinkAddPEtLitkCancel {
  border-radius: 40px;

  color: #54adff;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
.LinkAddPEtLitk {
  background-color: #54adff;
  border-radius: 40px;
  padding: 8px 86px;
  color: #fef9f9;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
