.background {
    background-image: url('../../../src/Shared/images/background/mobile-bg.png');
    background-repeat: repeat;
    /* background-position: center; */
    background-size: cover;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch; */
    height: 100%;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .background {
        background-image: url('../../../src/Shared/images/background/mobile-bg@2x.png');
    }
}

@media screen and (min-width: 480px) {
    .background {
        background-image: url('../../../src/Shared/images/background/tablet-bg.png');
    }

    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        .background {
            background-image: url('../../../src/Shared/images/background/tablet-bg@2x.png');
        }
    }
}

@media screen and (min-width: 768px) {
    .background {
        background-image: url('../../../src/Shared/images/background/desktop-bg.png');
    }

    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        .background {
            background-image: url('../../../src/Shared/images/background/desktop-bg@2x.png');
        }
    }
}